.card{
    margin-top: 20px;
    background-color: rgb(118, 148, 148);
    bottom: 0;
    width: 100%;
}
.card-header{
    text-transform: uppercase;
    font-weight: bold;
}
.card-body{
    border: 1px solid black;
}