<div class="pag">
        <mat-paginator [length] = "this.DATA.length" [pageSize] = "this.tableConfig.pagination.itemPerPage"
        [pageSizeOptions] = "this.tableConfig.pagination.itemPerPageOption" 
        (page)="OnPageChange($event)"></mat-paginator>
</div>

<table>
        <tr>
                <th *ngFor = "let head of this.tableConfig.header">
                        {{head.label}}
                       <span (click) = "SortBy(head.key)"><mat-icon class="icons" [innerHTML]= "this.orderIcon"></mat-icon></span>
                </th>
                <th>
                        Azioni
                </th>
        </tr>
        <tr *ngFor="let elemento of this.sliceData ; let j = index">
                <td *ngFor="let headKey of this.tableConfig.header ; let h =index">
                        {{elemento[headKey.key]}}
                </td>
                <ng-container *ngFor="let headKey of this.tableConfig.header ; let h =index">
                        <ng-container *ngIf="h < 1">
                                <td>
                                        <ng-container *ngIf="this.privilegi === 'true'">
                                                <button class="btn btn-warning" (click)="EmitAdd(elemento[headKey.key], headKey.key, 'PRECOMPILA')">Modifica<mat-icon class="icons">build</mat-icon></button>
                                                <button class="btn btn-dark" (click)="EmitAdd(elemento[headKey.key], headKey.key, 'ELIMINA')">Elimina<mat-icon class="icons">delete</mat-icon></button>
                                        </ng-container>
                                </td>
                        </ng-container>
                </ng-container>
        </tr>
</table>




    <div class="filterForm">      
        <h3>Filtra</h3>
        <input [(ngModel)] = "this.col" placeholder="colonna"> <br>
        <input [(ngModel)] = "this.tableConfig.search.value" placeholder="valore"><br>
        <button (click) = "FilterByColumn()" class="btn btn-info">Filtra</button> 
        <button (click) = "this.sliceData = this.DATA.slice(0,this.pageSize)" class="btn btn-danger">Resetta</button>
    </div>




