<app-navbar></app-navbar>



<p>INFO UTENTE</p>
<div class="info">
 <p><span>ID: </span>{{Utente.id}}</p>
 <p><mat-icon class="icon" (click)= "InputAppear('nome')">create</mat-icon> <span>Nome: </span>{{Utente.nome}}</p>
 <div *ngIf="ComparsaForm === 'nome'">
        <input [(ngModel)]= "Utente['nome']" /> 
            <mat-icon class="icon close" (click)= "ComparsaForm = ''">clear</mat-icon>
            <button class="btn btn-info" (click)= "AggiornaUtente()">Salva<mat-icon class="icon">save</mat-icon></button>
 </div>
 <p><mat-icon class="icon" (click)= "InputAppear('cognome')">create</mat-icon> <span>Cognome: </span>{{Utente.cognome}}</p>
 <div *ngIf="ComparsaForm === 'cognome'">
        <input [(ngModel)]= "Utente['cognome']" /> 
            <mat-icon class="icon close" (click)= "ComparsaForm = ''">clear</mat-icon>
        <button class="btn btn-info" (click)= "AggiornaUtente()">Salva<mat-icon class="icon">save</mat-icon></button>
 </div>
 <p><mat-icon class="icon" (click)= "InputAppear('nascita')">create</mat-icon> <span>Nascita: </span>{{Utente.nascita}}</p>
 <div *ngIf="ComparsaForm === 'nascita'">
        <input [(ngModel)]= "Utente['nascita']"/> 
            <mat-icon class="icon close" (click)= "ComparsaForm = ''">clear</mat-icon>
        <button class="btn btn-info" (click)= "AggiornaUtente()">Salva<mat-icon class="icon">save</mat-icon></button>
 </div>
 <p><span>Tipo Utente: </span>{{Utente.tipoutente.tipo}}</p>
 <p><mat-icon class="icon" (click)= "InputAppear('password')">create</mat-icon> <span>Password: </span>{{Utente.password}}</p>
 <div *ngIf="ComparsaForm === 'password'">
        <input [(ngModel)]= "Utente['password']" /> 
            <mat-icon class="icon close" (click)= "ComparsaForm = ''">clear</mat-icon>
        <button class="btn btn-info" (click)= "AggiornaUtente()">Salva<mat-icon class="icon">save</mat-icon></button>
 </div>
</div>



<app-footer></app-footer>
