

<div style="margin-top: 25px;" class="form">
        <h3>Aggiungi Utente</h3>
        <ng-container *ngFor = "let key of header ; let j = index">
            <ng-container *ngIf="j<1">
                <div *ngIf="formBottone; else modbtn">
                    <button class="btn btn-info" (click)= "sendValue(this.valoriInseriti, key.key, 'AGGIUNGI')">Aggiungi</button>
                </div>
                <ng-template #modbtn>
                   <div><button class="btn btn-info" (click)= "sendValue(this.valoriInseriti, key.key, 'MODIFICA')">Apporta Modifica</button></div>
                   <button (click)= "ButtonReset()" class="btn btn-danger">Resetta</button> <br>
                </ng-template>
            </ng-container>
            <ng-container *ngIf="key.key != 'id'">
                <input [(ngModel)]= "this.valoriInseriti[j]" required placeholder="{{key.label}}" value="this.valoriInseriti[i]"/> <br>
            </ng-container>
        </ng-container>
</div>